title: Fried Dumplings
theme: jekyll-theme-hacker

collections:
  articles:
    output: true

defaults:
  - scope:
      path: ""
    values:
      layout: default

plugins:
  - jekyll-sass-converter
